﻿@model FlowerPower.Models.Guest

@{
    ViewBag.Title = "NAW gegevens wijzigen";
}

<h2>NAW gegevens wijzigen</h2>

<div class="form-group">
    <div class="col-md-2">
        Voornaam:
    </div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.firstName, new { @id = "voornaam", @class = "form-control", @Value = Model.firstName })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        Achternaam:
    </div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.lastName, new { @id = "achternaam", @class = "form-control", @Value = Model.lastName })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        Adres:
    </div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.address, new { @id = "adres", @class = "form-control", @Value = Model.address })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        Woonplaats:
    </div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.place, new { @id = "woonplaats", @class = "form-control", @Value = Model.place })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        Postcode:
    </div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.zipCode, new { @id = "postcode", @class = "form-control", @Value = Model.zipCode })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2">
        Telefoon:
    </div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.phone, new { @id = "telefoon", @class = "form-control", @Value = Model.phone })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input id="btnChangeNAP" type="submit" value="Wijzig NAW" class="btn btn-default" />
    </div>
</div>

@section Scripts {

    <script>

    $("#btnChangeNAP").on("click", function() {
        $.ajax({
            url: "@Url.Action("ChangeNAPData", "Manage")",
            data: {
                _firstName: $("#voornaam").val().toString(),
                _lastName: $("#achternaam").val().toString(),
                _address: $("#adres").val().toString(),
                _place: $("#woonplaats").val().toString(),
                _zipcode: $("#postcode").val().toString(),
                _phone: parseInt($("#telefoon").val())
            },
            method: "POST",
            success: function (data) {
                var link = '@Url.Action("Index", "Manage")';
                window.location.href = link;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    return;
                }
            }
        });
    });

    </script>

    }
