﻿@model FlowerPower.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Verwijderen</h2>

<h3>Weet u zeker dat u dit product wilt verwijderen?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Product naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            Product beschrijving
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            Product prijs
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            Product
        </dt>

        <dd>
            @if (Model.productPhoto != null)
            {
                <img class="delimg" src="data:image/png;base64,@Convert.ToBase64String(Model.productPhoto,0,Model.productPhoto.Length)" />

            }
            else
            {
                <img src="/Uploads/Nocontent.png" />
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-primary" />
            @Html.ActionLink("Terug naar overzicht", "Index", "Product", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
