﻿@model FlowerPower.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Informatie</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            Product beschrijving
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            Product prijs
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            product
        </dt>

        <dd>
            @if (Model.productPhoto != null)
            {
                <img class="editphoto" src="data:image/png;base64,@Convert.ToBase64String(Model.productPhoto,0,Model.productPhoto.Length)" />

            }
            else
            {
                <img class="editphoto" src="/Uploads/Nocontent.png" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Aanpassen", "Edit", "Product", new { id = Model.productID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("terug naar overzicht", "Index", "Product", null, new { @class = "btn btn-primary" })

</p>
