﻿@model FlowerPower.Models.Product

@{
                /**/

                ViewBag.Title = "Aanpassen";
}

<h2>Aanpassen</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.productID)

    <div class="form-group">
        @Html.LabelFor(model => model.productName, "Product naam", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Winkel1" } })
            @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.productDescription, "Product beschrijving", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.productDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Beschrijving" } })
            @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.productPrice, "Product prijs", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.productPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "5,00" } })
            @Html.ValidationMessageFor(model => model.productPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductInStore, "In Store", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductInStore, new { htmlAttributes = new { @class = "form-control", @placeholder = "0,1" } })
            @Html.ValidationMessageFor(model => model.ProductInStore, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.productPhoto, "Huidig Product", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (Model.productPhoto != null)
            {
                <img class="editphoto" src="data:image/png;base64,@Convert.ToBase64String(Model.productPhoto,0,Model.productPhoto.Length)" />

            }
            else
            {
                <img class="editphoto" src="/Uploads/Nocontent.png" />
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.productPhoto, "Nieuw Product", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="upload" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Opslaan" class="btn btn-primary" />
            @Html.ActionLink("Terug naar overzicht", "Index", "Product", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
}
