﻿@model IEnumerable<FlowerPower.Models.Product>

@{
    ViewBag.Title = "Bloemen";
}

<h2>Overzicht</h2>

<p>@Html.ActionLink("Voeg Product toe", "Create", "Product", null, new { @class = "btn btn-primary" })</p>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
             if (Request.IsAuthenticated && User.IsInRole("Medewerker") || User.IsInRole("Admin"))
             {
                 <div class="col-md-4">
                     <div class="col-cont">
                         @if (item.productPhoto != null)
                         {
                             <img src="data:image/png;base64,@Convert.ToBase64String(item.productPhoto,0,item.productPhoto.Length)" />
                         }else{
                             <img src="/Uploads/Nocontent.png" />
                         }
                         <div class="ProductInfo">
                             <div class="ProductNaam">
                                 @Html.DisplayFor(modelItem => item.productName)
                             </div>
                             <div class="Productprijs">
                                  @Html.DisplayFor(modelItem => item.productPrice)
                             </div>
                             <div class="clearfix"></div>
                         </div>
                             <div class="stock">
                                <label>Available</label>
                                @Html.DisplayFor(modelItem => item.ProductInStore)
                            </div>
                            <div class="ProductBeschrijving">
                                @Html.DisplayFor(modelItem => item.productDescription)
                            </div>
                            <div>
                                @Html.ActionLink("Aanpassen", "Edit", new { id = item.productID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Inzien", "Details", new { id = item.productID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Verwijderen", "Delete", new { id = item.productID }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
             }else{
                 if (item.ProductInStore == true)
                 {
                     <div class="col-md-4">
                         <div class="col-cont">
                             @if (item.productPhoto != null)
                                {
                                    <img src="data:image/png;base64,@Convert.ToBase64String(item.productPhoto,0,item.productPhoto.Length)" />
                                }else{
                                    <img src="/Uploads/Nocontent.png" />
                                }

                              <div class="ProductInfo">
                                    <div class="ProductNaam">
                                        @Html.DisplayFor(modelItem => item.productName)
                                    </div>
                                    <div class="Productprijs">
                                        @Html.DisplayFor(modelItem => item.productPrice)
                                    </div>
                              </div>
                              <div class="ProductBeschrijving">
                                    @Html.DisplayFor(modelItem => item.productDescription)
                              </div>

                              <button type="submit" class="btn btn-success btnAddToCart" data-assigned-id="@item.productID" onclick="AssignButtonClicked(this)">
                                    <i class="fas fa-plus">Add</i>
                              </button>
                         </div>
                     </div>
                 }
             }
         }
    </div>
</div>
<div id="cart">
    <div class="cartcontainer">
        <div class="menubtn"></div>
        <div class="carter"></div>
    </div>
</div>
    @section Scripts {
        <style>
            .body-content {
                width: 100%;
                margin-left: 10% !important;
                transition: 1.3s all;
            }

                .body-content .container {
                    position: absolute;
                    transition: 1.3s all;
                    width: 80%;
                    margin: 0;
                }

            .container row {
                position: relative;
                width: 100%;
            }
        </style>

        <script>
        var chosenProductID = 0;

        function AssignButtonClicked(elem) {
            chosenProductID = parseInt($(elem).data('assigned-id'));
            console.log(chosenProductID);

            AddToCart();
        }

        $(document).ready(function () {
            if ($.trim($(".col-cont").text()) == "") {
                $(".col-cont").parents().remove();
            }
            LoadCart();


        });

        function LoadCart() {
            $.ajax({
                url: "@Url.Action("ShowCart", "Cart")",
                method: "POST",
                success: function (data) {
                    $("#cart").html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        return;
                    }
                }
            });
        }

        function AddToCart() {
            $.ajax({
                url: "@Url.Action("AddToCart", "Cart")",
                data: {
                    productID: chosenProductID
                },
                method: "POST",
                success: function (data) {
                    $("#cart").html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        return;
                    }
                }
            });
        }
        </script>

    }
