﻿@model FlowerPower.Models.Store

@{
    ViewBag.Title = "Delete";
}

<h2>Verwijderen</h2>

<h3>Weet je zeker dat je deze winkel wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeName)
        </dd>

        <dt>
            Adres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            Plaats
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            Postcode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

        <dt>
            Nummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @if (Model.Photo != null)
            {
                <img class="editphoto" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo,0,Model.Photo.Length)" />

            }
            else
            {
                <img class="editphoto" src="/Uploads/Nocontent.png" />
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-primary" />
            @Html.ActionLink("Terug naar contact", "Index", "Contact", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
