﻿@model FlowerPower.Models.Store

@{
    ViewBag.Title = "Details";
}

<h2>Informatie</h2>

<div>
    <h4>Winkel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeName)
        </dd>

        <dt>
            Adres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            Plaats
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            Postcode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

        <dt>
            Nummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @if (Model.Photo != null)
            {
                <img class="editphoto" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo,0,Model.Photo.Length)" />

            }
            else
            {
                <img class="editphoto" src="/Uploads/Nocontent.png" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Aanpassen", "Edit", "Contact", new { id = Model.storeID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Terug naar contact", "Index", "Contact", null, new { @class = "btn btn-primary" })
</p>
