﻿@model IEnumerable<FlowerPower.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Winkels</h2>
@if (Request.IsAuthenticated && User.IsInRole("Medewerker") || User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Voeg winkel Toe", "Create", "Contact", null, new { @class = "btn btn-primary" })
    </p>
}

@foreach (var item in Model)
{
    <div class="contactcontainer">
        <div class="contactimg">
            @if (item.Photo != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(item.Photo,0,item.Photo.Length)" />

            }
            else
            {
                <img src="/Uploads/Nocontent.png" />
            }
        </div>
        <div class="contactinfo">
            <h3>
                @Html.DisplayFor(modelItem => item.storeName)
            </h3>
            <div class="contactadres">
                @Html.DisplayFor(modelItem => item.address)
            </div>
            <div class="contactplace">
                @Html.DisplayFor(modelItem => item.place)
            </div>
            <div class="contactzipcode">
                @Html.DisplayFor(modelItem => item.zipCode)
            </div>
            <div class="contactphone">
                @Html.DisplayFor(modelItem => item.phone)
            </div>

        </div>
        <div class="contactlocation">
            @{
                var link = item.address.Replace(" ", "+");
            }
            <iframe width="300"
                    height="250"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCyb2SxNefIKs9VDf8EvDp7yKBpBfTXNCQ&q=@link" allowfullscreen></iframe>
        </div>
        @if (Request.IsAuthenticated && User.IsInRole("Medewerker") || User.IsInRole("Admin"))
        {
            <div class="contactlinks" id="@item.storeID">
                <div class="linked menu bg-primary" id="@item.storeID">
                    x
                </div>
                <div class="linked editlink bg-primary">
                    @Html.ActionLink("Aanpassen", "Edit", new { id = item.storeID })
                </div>
                <div class="linked infolink bg-primary">
                    @Html.ActionLink("Details", "Details", new { id = item.storeID })
                </div>
                <div class="linked removelink bg-primary">
                    @Html.ActionLink("Verwijder", "Delete", new { id = item.storeID })
                </div>
            </div>
        }
    </div>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            $('iframe').css('display', 'none');
            window.setTimeout(function () { $('iframe').css('display', 'block'); }, 1500);
            var changer = 1;
            $('.menu').on('click', function (event) {
                var target = event.target.id;
                switch (changer) {
                    case 1:
                        $('#' + target + ' .editlink').animate({
                            top: '63px'
                        }, 500);
                        $('#' + target + ' .infolink').animate({
                            top: '126px'
                        }, 500);
                        $('#' + target + ' .removelink').animate({
                            top: '189px'
                        }, 500);
                        changer = 0;
                        break;
                    case 0:
                        $('#' + target + ' .editlink').animate({
                            top: '0px'
                        }, 500);
                        $('#' + target + ' .infolink').animate({
                            top: '0px'
                        }, 500);
                        $('#' + target + ' .removelink').animate({
                            top: '0px'
                        }, 500);
                        changer = 1;
                        break;
                    default:
                        $('#' + target + ' .editlink').animate({
                            top: '63px'
                        }, 500);
                        $('#' + target + ' .infolink').animate({
                            top: '126px'
                        }, 500);
                        $('#' + target + ' .removelink').animate({
                            top: '189px'
                        }, 500);
                        changer = 0;
                }

            })
        })
</script>

