﻿@model IEnumerable<FlowerPower.Models.Order>

@{
    ViewBag.Title = "Index";
}


<h2>Orderlijst</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Klant")
        </th>
        <th>
            @Html.DisplayName("Winkel")
        </th>
        <th>
            @Html.DisplayName("Medewerker")
        </th>
        <th>
            @Html.DisplayName("Afgehandeld")
        </th>
        <th>
            @Html.DisplayName("Annuleren")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
                <td>
                    <label>@item.Guest.firstName @item.Guest.lastName</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.storeName)
                </td>
                <td>
                    @if (item.employeeID == null)
                    {
                        @Html.Display("Er is nog geen werknemer bezig met uw bestelling")
                    }
                    else
                    {
                        <label>@item.Employee.employeeFirstName @item.Employee.employeeLastName</label>
                    }
                </td>
                <td>
                    @if (item.finished == true)
                    {
                        <label>Ja</label>
                    }
                    else
                    {
                        <button id="finishOrder" type="submit" class="btn btn-success btn-sm" data-assigned-id="@item.orderID" onclick="FinishOrderClicked(this)">
                            <i class="fas fa-check">Afhandelen</i>
                        </button>
                    }
                </td>
                <td>
                    @if (item.cancelled == true)
                    {
                        if (item.finished == true)
                        {
                            <p>Bestelling is afgehandeld</p>
                        }
                        else
                        {
                            <p>Geannuleerd</p>
                        }
                    }
                    else
                    {
                        if (item.finished == true)
                        {
                            <p>Bestelling is afgehandeld</p>
                        }
                        else
                        {
                            <button id="cancelBtn" type="submit" class="btn btn-danger btn-sm" data-assigned-id="@item.orderID" onclick="CancelButtonClicked(this)">
                                <i class="">Annuleren</i>
                            </button>
                        }
                    }
                </td>
        </tr>
    }

</table>

@section Scripts {
<script>

        function CancelButtonClicked(elem) {
            CancelOrder(parseInt($(elem).data('assigned-id')));
        }

        function CancelOrder(id) {
            $.ajax({
            url: "@Url.Action("Cancel", "Order")",
            method: "POST",
            data: {
                id: id
            },
            success: function (data) {
                var link = '@Url.Action("Index", "Order")';
                window.location.href = link;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    return;
                }
            }
            });
        }

    function FinishOrderClicked(elem) {
        FinishOrder(parseInt($(elem).data('assigned-id')));
    }

    function FinishOrder(id) {
        $.ajax({
            url: "@Url.Action("FinishOrder", "Order")",
            method: "POST",
            data: {
                id: id
            },
            success: function (data) {
                var link = '@Url.Action("Index", "Order")';
                window.location.href = link;
            },
            error: function () {
                console.log("failed");
            }
        });
    }
</script>
}
