﻿@model IEnumerable<FlowerPower.Models.Store>

@{
    ViewBag.Title = "ChooseStore";
    var stores = (SelectList)ViewBag.Stores;
}

<h2>ChooseStore</h2>

@Html.DropDownList("ddlStores", stores, "Selecteer een winkel", new { @class = "form-control" })

<div id="showOrderBtn">

</div>

@section Scripts {
    <script>
    $("#ddlStores").on("change", function () {
        $.ajax({
            url: "@Url.Action("GetOrderButton", "Confirmation")",
            method: "POST",
            data: {
                storeID: $("#ddlStores").val()
            },
            success: function (data) {
                $("#showOrderBtn").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    $("#showOrderBtn").html("");
                }
            }
        });
    });
    </script>
    
    }