﻿<br />
<button id="orderBtn" type="submit" class="btn btn-success">
    <i class="fas fa-plus">Plaats bestelling</i>
</button>

<script>
    $("#orderBtn").click(function () {
        $.ajax({
                url: "@Url.Action("OnClickStoreButton", "Confirmation")",
                method: "POST",
                data: {
                    storeID: $("#ddlStores").val()
                },
                success: function (data) {
                    var link = '@Url.Action("Index", "PDF")';
                    window.location.href = link;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        return;
                    }
                }
        });
    });
</script>