﻿@model IEnumerable<FlowerPower.Models.Product>

@{
    bool[] inList = new bool[999];
    int[] productQuantity = new int[999];
    int[] productID = new int[999];
    string[] productName = new string[999];
    int i = 0;
}

@foreach (var item in Model)
{
    if (!inList[item.productID])
    {
        inList[item.productID] = true;
        productQuantity[item.productID] = 1;
        productID[i] = item.productID;
        productName[item.productID] = item.productName;
    }
    else
    {
        productQuantity[item.productID]++;
    }
    i++;
}

<h2>Bevestiging</h2>

<div class="row">

    <div class="col-md-6">
        Product
    </div>
    <div class="col-md-6">
        Hoeveelheid
    </div>
</div>
<hr />

@foreach (var item in productID)
{
    if (item == 0)
    {
        continue;
    }
    <div class="row">

        <div class="col-md-6">
            @Html.DisplayFor(m => productName[item])
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(m => productQuantity[item])
        </div>
    </div>
}

<div id="confirmTxt">
    Klopt dit?
</div>
<br />
<button id="confirmBtn" type="submit" class="btn btn-success">
    <i class="fas fa-plus">Ga verder</i>
</button>

@section Scripts{
    <script>
        $("#confirmBtn").click(function () {
            window.location.href = "@Url.Action("ChooseStore", "Confirmation")";
        });
    </script>
}
