﻿@model IEnumerable<FlowerPower.Models.Store>
@{
                ViewBag.Title = "ChooseStore";
                var stores = (SelectList)ViewBag.Stores;
}

<h2>ChooseStore</h2>

@Html.DropDownList("ddlStores", stores, "Selecteer een winkel", new { @class = "form-control" })

<div id="showEmployeeBtn">

</div>

@section Scripts {
    <script>
    $("#ddlStores").on("change", function () {
        $.ajax({
            url: "@Url.Action("GetEmployeeButton", "Roles")",
            method: "POST",
            data: {
                storeID: $("#ddlStores").val()
            },
            success: function (data) {
                $("#showEmployeeBtn").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    $("#showEmployeeBtn").html("");
                }
            }
        });
    });
    </script>

}

