﻿@model FlowerPower.Models.Employee

<br />
<button id="employeeBtn" type="submit" class="btn btn-success">
    <i class="fas fa-plus">Voeg medewerker toe</i>
</button>

<script>
    var empID = @Html.Raw(Json.Encode(Model.employeeID));
    console.log(empID);
    $("#employeeBtn").click(function () {
        $.ajax({
                url: "@Url.Action("OnClickEmployeeButton", "Roles")",
                method: "POST",
                data: {
                    storeID: $("#ddlStores").val(),
                    employeeID: empID
                },
                success: function (data) {
                    var link = '@Url.Action("Index", "Home")';
                    window.location.href = link;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        return;
                    }
                }
        });
    });
</script>