﻿@{
    ViewBag.Title = "ManageUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-sm-12 col-lg-12 col-md-12">
    <h1>Rol beheer</h1>
    <br />
</div>

<div class="row col-sm-12 col-lg-12 col-md-12">


    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="panel panel-primary bg-primary">
            <div class="panel-heading rolesheader">
                <h4>Bestaande rollen</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover col-sm-12 col-lg-12 col-md-12">
                    @foreach (var role in ViewBag.Roles)
                    {
                    <tr>
                        <td class="col-sm-6 col-lg-6 col-md-6">
                            <strong>@role.Text </strong>
                        </td>
                        <td class="col-sm-5 col-lg-5 col-md-5">
                            <span onclick="return confirm('Weet u zeker dat u het wilt verwijderen?')"><a href="/Roles/Delete?RoleName=@role.Text" class="addbutton">Verwijder</a></span>
                            @Html.ActionLink("Wijzigen", "Edit", new { roleName = @role.Text }, new { @class = "addbutton" })
                        </td>
                    </tr>
                    }
                </table>
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->

        <div class="panel panel-primary bg-primary">
            <div class="panel-heading">
                <h4>Creeer een nieuwe rol</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Roles", new { @class = "form-horizontal" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div>
                    Rol: @Html.TextBox("RoleName")
                    <input type="submit" value="Opslaan" class="btn-primary addbutton" />
                </div>
                }

            </div> <!--End Panel Body-->
        </div> <!--End Panel-->
    </div> <!--End First Column-->

    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="panel panel-primary bg-primary">
            <div class="panel-heading">
                <h4>Voeg een rol toe aan een gebruiker</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("RoleAddToUser", "Roles"))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <p>Gebruikersnaam: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")</p>
                <p>Rol: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</p>
                <p><input type="submit" value="Save" class="btn-primary addbutton" /></p>

                }
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->


        <div class="panel panel-primary bg-primary">
            <div class="panel-heading">
                <h4>Benoem de rollen van een gebruiker</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("GetRoles", "Roles"))
                {
                @Html.AntiForgeryToken()
                <p>
                    Gebruikersnaam: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")
                    <input type="submit" value="vraag op" class="btn-primary addbutton" />
                </p>
                }

                @if (ViewBag.RolesForThisUser != null)
                {
                <div class="alert-info">
                    <strong>Rollen voor deze gebruiker </strong>
                    <ol>
                        @foreach (string s in ViewBag.RolesForThisUser)
                            {
                        <li>@s</li>
                            }
                    </ol>
                </div>
                }
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->

        <div class="panel panel-primary bg-primary">
            <div class="panel-heading">
                <h4>Verwijder rol van gebruiker</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <p>User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")</p>
                <p>Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</p>
                <p><input type="submit" value="Verwijder rol van gebruiker" class="btn-primary addbutton" /></p>

                }
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->

    </div> <!--End Second Column-->

</div>  <!--Overall Page Wrapper-->

<div class="alert-info col-sm-12 col-lg-12 col-md-12">
    @ViewBag.Message
</div>