﻿@{
    ViewBag.Title = "Home Page";
}

<div class="fpbanner">
    <h1>Flower Power</h1>
    @Html.ActionLink("Shop nu", "Index", "Product", null, new { @class = "btn btn-primary" })

</div>
<div class="bannerfiller"></div>
<div class="content">
    hi
</div>
