﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.ordercontainer{
    position:absolute;
    bottom: 0;
    width: 100%;
}

#confirmTxt {
    margin-top: 30px;
}

footer{
    bottom: 0;
    position: absolute;
}

footer p {
    width: 100%;
    margin: 0 auto;
    display:block;
}

.orderBtn {
    display: block;
    margin: 0 auto;
    width: 120px;
    margin-bottom: 10px;
}

#cart {
    position: fixed;
    right: 0;
    height: 100%;
    width: 20%;
    top: 0;
    background: #eee;
    border: 1px solid black;
    border-radius: 50px 0 0 50px;
    padding: 20px;
    min-width: 250px;
}
li{
    display:flex;
}
li .col-md-8{
    width:60%;
}
li .col-md-4{
    width:40%;
}
.cartcontainer{
    width: 100px;
    height: 100px;
    border-radius:100px;
    background:white;
    display:block;
    margin: 50px auto;
    border:1px solid black;
    position:relative;
    margin-top: 75px;
}
.carter {
    position:absolute;
    width: 90px;
    height: 90px;
    top:4.5px;
    left:4.5px;
    border-radius: 80px;
    background: black;
    display: block;
}
.carter i{
    color:white;
    text-align:center;
    font-size: 25px;
    width: 100%;
    font-size:55px;
    margin-top: 18px;
}
.menubtn {
    position: absolute;
    left: -60px;
    top: 100px;
    cursor: pointer;
    color: #56CC9D;
    font-size: 45px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.col-md-4 {
    padding: 10px;
}
.col-cont {
    background: #eee;
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-top: 13px;
    padding-bottom:5px;
    text-align: center;
    border:1px solid black;

}
.col-md-4 img {
    width: 80%;
    padding-top: 11px;
    margin: 0 auto;
    display: block;
    transition: 1s all;
    height: 245px;
}

.col-md-4 tr {
    width: 100%;
}
.ProductInfo {
    display: inline-flex;
    width: 100%;
}
.ProductNaam {
    width: 50%;
}
.Productprijs {
    width: 50%;
}
.ProductBeschrijving {
    width: 100%;
    margin-top: 5px;
}
.col-md-4 img:hover {
    transform: scale(1.2);
}
.delimg {
    height: 200px;
}

.contactimg img {
    max-height: 250px;
}

.contactcontainer {
    display: -webkit-box;
    margin-bottom: 25px;
    background: #eee;
}

.contactimg {
    width: 30%;
}

.contactinfo {
    width: 30%;
}

.contactlocation {
    width: 30%;
}

.contactlinks {
    width: 10%;
    min-width: 80px;
    height: 245px;
    position: relative;
}

.contactcontainer h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.place-card {
    display: none !important;
}

.linked {
    width: 100%;
    height: 65px;
    border: 1px solid black;
    background: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 10px;
    color: white;
    right: 0;
    font-size: 12px;
}

    .linked a {
        color: white;
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
    }

.menu {
    z-index: 999;
}

.linked a:hover {
    text-decoration: none;
}

.editphoto {
    height: 250px;
}

@media only screen and (max-width: 950px) {
    .contactlocation {
        display: none !important;
    }

    .contactimg {
        width: 46%;
    }

    .contactinfo {
        width: 43%;
    }
}

@media only screen and (max-width: 750px) {
    .contactimg {
        width: 50%;
        float: left;
    }

    .contactinfo {
        width: 50%;
        float: left;
        height: 100%
    }

    .contactcontainer {
        display: block;
        height: 250px;
    }

    .contactlinks {
        float: right;
        margin-top: -250px;
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    .contactimg {
        width: 100%;
        float: unset
    }

    .contactcontainer {
        height: unset;
        padding: 25px;
    }

    .contactinfo {
        width: 100%;
        float: unset
    }

    .contactlinks {
        display: none;
    }

    .contactimg img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
}

.fpbanner {
    width: 100%;
    height: 700px;
    background: url('flower2opacity.png') center center no-repeat;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
}

    .fpbanner h1 {
        width: 100%;
        text-align: center;
        margin-top: 200px;
    }

.bannerfiller {
    height: 650px;
}

body {
    padding-top: 0;
}

.navbar {
    z-index: 9999;
}

.panel {
    border: 1px solid green;
    padding: 5px 10px 5px 10px;
    margin-bottom: 25px;
}

.panel-body {
    background: white;
    padding: 10px;
}

.fpbanner a {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    width: 120px;
}
.stock{
    width: 100%;
}